<div class="row">
  <div class="col-md-4">
<form novalidate>
  <div class="form-container">
    <div class="row columns login-box">
      <input type="checkbox" id="firma" name="firma"  value="firma">FIRMA DIGITAL INSTALADA 
      <label>Username
          <input type="text" id="username" name="username">
      </label>
      <label>Nombre del Certificado 
          <input type="text" id="nombre" name="nombre">
          
        </label> 
        <label>Pin 
          <input type="text" id="pin" name="pin">
          
        </label>  
        <div class="callout warning" ></div>   
        <input type="button" class="button button-login expanded cancel" value="Cancelar">
        <input type="submit" class="button button-login expanded update" value="Login">
    </div>
  </div>      
</form>
</div>
</div>